<!DOCTYPE html>
<html>
    <head>
        <title>Experiment</title>
        <script language="javascript" src="libraries/jquery-3.4.1.min.js"></script>
        <script language="javascript" src="libraries/helper.js"></script>
        <script language="javascript" src="jspsych/jspsych.js"></script>
        <!-- make sure you list the jspsych plugins you need below -->
        <script language="javascript" src="jspsych/plugins/jspsych-instructions.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-text.js"></script>
        <!-- the following is the styling provided by jspsych -->
        <link href="jspsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <!-- the following is where you can tweak the styling -->
        <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
    </body>
    <script>

    /*
    Set up: define a few experiment variables
    */

    // get the data passed along by app.js
    var input_data = <%- input_data %>
    var trial_id = input_data.trial_id;
    console.log('Rendering trial ', trial_id)
    // Make a completion code. I add a few simple hallmarks that make it easy to spot whether the code is genuine
    var completionCode = helper.makeCode(3)+'RtR' + helper.makeCode(5) + '4z4';
    var completionCodeEnd = completionCode + '_' + trial_id;
    jsPsych.data.addProperties({completionCode: completionCode,
                                trial_id: trial_id});

    var timeline = [];
    var experiment_start_time;
    var data_not_processed = true;
    // The following needs to match the relevant route in app.js
    var dataUrl = '/data?trial_id=' + trial_id;


    /*
    Define your trials
    See tutorial at https://www.jspsych.org/tutorials/rt-task/
    */

    // Consent form

    var consent = {
      type: 'external-html',
      url: '../views/consent.html',
      check_fn: function(){
        // start the timer once they've clicked "consent"
        experiment_start_time = Date.now();
        return true;
      },
      cont_btn: 'consent'
    }

    // instructions

    var instructions = {
      type: 'instructions',
      pages: ['Hello, welcome, blah blah blah.'],
      show_clickable_nav: true,
    }

    // example text entry

    var demo = {
      type: 'survey-text',
      questions: [
        {name: 'demo-1', prompt: 'What\'s the weather like?'}
      ],
      preamble: 'Please answer the following in at least 4 words?',
    };

    /*
    Add trials to the timeline
    */

    timeline.push(instructions);
    timeline.push(demo);

    /*
    Have jsPsych display the experiment timeline
    */
    
    jsPsych.init({
        // uncomment if you need to preload anything that isn't a stim in an existing jspsych plugin
        // preload_images: [],
        default_iti: 500,
        show_progress_bar: true,
        exclusions: {
          min_width: 800,
          min_height: 500
        },
        experiment_width: 800,
        timeline: timeline,
        on_finish: function(){
          console.log('Experiment completed...')
          var data = helper.prepareData(experiment_start_time);
          helper.save(data, dataUrl);
        }
    });

    </script>
</html>
