<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <h2>Completion code</h2>
    <p>
      Thank you for taking part in this study. Your completion code is <%= completionCode %>. Please copy+paste this into the MTurk window to claim payment.
    </p>
    <p>
      If you have any questions or complaints about the online experiment, please mail [name] at <a href='mailto:[email]' target = '_top'>[email]</a>
      You have the right to request withdrawal of your data, even though you have completed the survey. If you want us to discard your data, please email [name] at the above address before March 31st 2019.
    </p>
    <h3>Debriefing</h3>
    <p>The following is a brief description of the study, if you're interested in knowing.</p>
    <p>[debriefing]</p>
    <p>If you want to be kept advised of the results published based on this research, please email the above researcher.</p>
  </body>
</html>
